<h1>Listing poems</h1>

<table>
  <tr>
    <th>Text</th>
    <th>Source user</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @poems.each do |poem| %>
  <tr>
    <td><%= poem.text %></td>
    <td><%= poem.source_user %></td>
    <td><%= link_to 'Show', poem %></td>
    <td><%= link_to 'Edit', edit_poem_path(poem) %></td>
    <td><%= link_to 'Destroy', poem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Poem', new_poem_path %>
