<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @poem.text %>
</p>

<p>
  <b>Source user:</b>
  <%= @poem.source_user %>
</p>


<%= link_to 'Edit', edit_poem_path(@poem) %> |
<%= link_to 'Back', poems_path %>
